{% extends 'base.html.twig' %}

{% block title %}{{ bar_title }}!{% endblock %}

{% block body %}

    <img src="{{ asset('/build/pics/logoB.png') }}" alt="logo" id="logo">

    <div class="card container" >
        <div class="card-body text-center">
            <h3 class="card-title mb-3">Photographe amateur de la nature</h3>
            <h6 class="card-subtitle mb-2">Jamais sans mon appareil photos</h6>
            <p class="card-text">Je vous partage mes balades et randonnées en Savoie et partout ailleurs</p>
            <a href="#" class="card-link">Card link</a>
            <a href="#" class="card-link">Another link</a>
        </div>
    </div>
{% endblock %}
